<div class="main-header text-center">
	<div class="elements">
      <div class="logo">
	      <!--<img src="logo.png">-->
      </div>
      <h2>Welcome to PLE<span>X</span></h2>
      <!--<h4>by Elmer</h4>	-->
	</div>
</div>